{% extends "base.html" %}
{% block title %}All Pets{% endblock %}
{% block head %} {% endblock %}

{% block content %}
<h1 class="display-1">All Pets</h1>

<div class="container">
    <div class="row">
        {% for pet in pets %}
        <div class="col">
            <p class="h3"> {{pet.name}} </p>
            <img class="img-thumbnail" src="{{pet.photo_url}}">
                {% if pet.available == true %}
                    <p class="h6 text-success">Available!</p>
                {% else %}
                    <p class="h6 text-danger">Sorry, not available.</p>
                {% endif %}
        </div>
{% endfor %}
    </div>
</div>

<a class="btn btn-primary" href="/add">Add Pet</a>

{% endblock %}